@charset "UTF-8";
/* CSS Document */

body{
	margin:3em, 1.5em;
	border:rgba(142,142,142,1.00) thin solid;
	border-radius:10px;
	padding:1.5em;
}

h1, h2{
	color:rgba(117,37,38,1.00);
}

img{
	width:100%;
}

dl{
	overflow:hidden;
}

dt{
	float:left;
	clear:left;
	width:8em;
}

dd{
	float:left;
	margin:0;
	padding:0;
}
	